
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <p>Matrix</p>
    <img src="https://cdn.btgunlugu.com/uploads/2020/06/the-matrix-4-john-wick.jpg"><br />
    <p>Kodluyoruz</p>
    <img src="https://media.kommunity.com/communities/kodluyoruz/17637/27971846_748761281998348_2999043640998413504_n.png"><br />
</body>
